/* Components - est utilisé pour ranger les blocs BEM qui sont plus indépendants, comme les boutons. */

.spinloader{
    display: flex;
    position: fixed;
    height:100vh;
    background-color: #CA81D4;
    width:100vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index:7;
    transform:scaleZ(0);
    opacity: 0;
    transition: transform 3s, opacity 5s;
    animation-timing-function: ease-in;
    img{
        position: relative;

        border-radius: 100%;
        padding: 1em;
        color: #CA81D4;
        font-size: 12em;
        z-index: 9;
        margin: auto;
        transform: rotate(250deg);
        transition-duration: 5s;
        animation-timing-function: ease-in;
    }
}

/* Boutons CTA */
@mixin buttons {
    @include shadow;
    background: linear-gradient(rgb(202, 129, 212), rgb(148, 102, 212));

    &:hover {
        background: lighten(#CA81D4, 10%);
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    }
}


/* check vert */
.fa-circle-check {
    color: white;
    font-size: 20px;
    transition-duration: 0.5s;
}

.menu-card-check {
    display: flex;
    width: 0;
    background-color: #99E2D0;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 20px 0;
    transition: 0.5s;
    transform-origin: right;
    transform: translateX(10px);
    opacity: 0;

    i {
        transform: rotate(-270deg);
    }

}

.menu-card:focus, .menu-card:hover .menu-card-check {
    width: 100px;
    opacity: 1;
    transform: translateX(0);
    transition-duration: 0.5s;

    i {
        transform: rotate(0);
        transition-delay: 1s;
        transition: transform 1000ms ease-in-out;
    }
}

.heart {
    display: block;
    position: relative;
    z-index: 1;
    padding: 1em 1em;

    .heart-filled {
        transform: scale(0);
        background: linear-gradient(175deg, rgb(202, 129, 212) 20px, rgb(148, 102, 212));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition-duration: 1s;
        font-size: 1.5em;
        z-index: 1;
        transform-origin: bottom;
    }

    .heart-empty {
        display: flex;
        z-index: 2;
        transition-duration: 1s;
        color: black;
        opacity: 1;
        transform-origin: bottom;
        transition-delay: 0;
    }

    &:hover {
        .heart-filled {
            opacity: 1;
            transform: scale(1);
        }

        .heart-empty {
            opacity: 0;
            transition-delay: 0.5s;
        }
    }

    &:focus{
        .heart-filled {
            opacity: 1;
            transform: scale(1);
        }

        .heart-empty {
            opacity: 0;
            transition-delay: 0.5s;
        }
    }
    
}

.menu-card {
    width: 100%;
    opacity: 1;
    justify-content: space-between;
    background-color: white;
    margin: 2vw 0;
    border-radius: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-duration: 2s;
    p {
        font-weight: 300;
    }

    .menu-card-info {
        justify-content: space-around;
        padding: 0.7em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        transition-duration: 1s;
    }
    .menu-card-price {
        font-size:1em;
        padding: 15px 20px;
        font-weight: 600;
        justify-content: end;
    }
}


