/* MOBILE >FIRST */
body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin-block: 0;
    margin-inline: 0;
}
@import "./sass/_components.scss";
@import "./sass/_layout.scss";
@import "./sass/_utils.scss";
@import "./sass/_base.scss";