@charset "UTF-8";
/* MOBILE >FIRST */
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  background-color: white;
  margin-block: 0;
  margin-inline: 0;
}

/* Components - est utilisé pour ranger les blocs BEM qui sont plus indépendants, comme les boutons. */
.spinloader {
  display: flex;
  position: fixed;
  height: 100vh;
  background-color: #CA81D4;
  width: 100vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 7;
  opacity: 1;
  -webkit-animation: fadeout 1s ease-in 1s 1 normal forwards running;
          animation: fadeout 1s ease-in 1s 1 normal forwards running;
}
.spinloader img {
  position: relative;
  border-radius: 100%;
  padding: 1em;
  color: #CA81D4;
  height: 12em;
  z-index: 9;
  margin: auto;
  transform: rotate(250deg);
}

/* Boutons CTA */
/* check vert */
.fa-circle-check {
  color: white;
  font-size: 20px;
  transition-duration: 0.5s;
}

.menu-card-check {
  display: flex;
  width: 0;
  background-color: #99E2D0;
  justify-content: center;
  align-items: center;
  border-radius: 0 20px 20px 0;
  transition: 0.5s;
  transform-origin: right;
  transform: translateX(10px);
  opacity: 0;
}
.menu-card-check i {
  transform: rotate(-270deg);
}

.menu-card:focus, .menu-card:hover .menu-card-check {
  width: 100px;
  opacity: 1;
  transform: translateX(0);
  transition-duration: 0.5s;
}
.menu-card:focus i, .menu-card:hover .menu-card-check i {
  transform: rotate(0);
  transition-delay: 1s;
  transition: transform 1000ms ease-in-out;
}

.heart {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 2;
  padding: 1em 1em;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 1.1em;
}
.heart .heart-filled {
  transform: scale(0);
  background: linear-gradient(175deg, rgb(202, 129, 212) 20px, rgb(148, 102, 212));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 1s;
  z-index: 3;
  transform-origin: bottom;
}
.heart .heart-empty {
  display: flex;
  z-index: 2;
  transition-duration: 1s;
  color: black;
  opacity: 1;
  transform-origin: bottom;
  transition-delay: 0;
}
.heart:focus .heart-filled {
  opacity: 1;
  transform: scale(1);
}
.heart:focus .heart-empty {
  opacity: 0;
  transition-delay: 0.5s;
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
    transform: scaleZ(1);
  }
  to {
    opacity: 0;
    transform: scaleZ(0);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    transform: scaleZ(1);
  }
  to {
    opacity: 0;
    transform: scaleZ(0);
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Layouts - est le dossier où vous mettez vos blocs BEM qui contiennent ce qui est réutilisable, 
par exemple un header pour les mises en page de grande taille ou un footer ; */
header {
  width: 90vw;
  position: fixed;
  justify-content: center;
  align-items: center;
  padding: 10px 0 5px 0;
  z-index: 4;
  background-color: white;
  overflow: hidden;
  font-size: 20px;
  padding: 5%;
}
header img {
  height: 25px;
  margin: auto;
}

footer {
  padding: 15px;
  color: white;
  background-color: rgb(53, 53, 53);
}

footer i {
  width: 25px;
}

/* UTILS - vous rangez vos variables, fonctions, mixins et 
les  %placeholders pour les extensions (si vous en utilisez) */
/* BASE - contient les fichiers qui définissent les fondations de votre site, 
par exemple la police de caractères et les normes que vous voulez appliquer 
sur tout votre site, telles que le box-sizing ;*/
::-webkit-scrollbar {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
}

.shadow {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-weight: 500;
}

h4 {
  font-family: "shrikhand";
  font-size: 20px;
}

p {
  font-size: 15px;
  margin-block: 0;
}

.grey {
  color: rgb(126, 126, 126);
}

.dark-grey {
  color: rgb(61, 61, 61);
}

.afterheader {
  padding-top: 80px;
}

.place {
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  background-color: rgb(234, 234, 234);
}
.place i {
  margin-right: 15px;
}
.place .headersearch {
  display: none;
  margin: 15px;
  border-radius: 15px;
  padding: 10px;
  color: rgb(61, 61, 61);
  transition-duration: 0.5s;
}
.place .headersearch::-moz-placeholder {
  color: rgb(61, 61, 61);
}
.place .headersearch:-ms-input-placeholder {
  color: rgb(61, 61, 61);
}
.place .headersearch::placeholder {
  color: rgb(61, 61, 61);
}

.intro {
  display: flex;
  flex-direction: column;
}

.descro {
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgb(247, 247, 247);
}
.descro a {
  color: white;
  margin: 20px;
  padding: 15px;
  border-radius: 30px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  background: linear-gradient(rgb(202, 129, 212), rgb(148, 102, 212));
}
.descro ahover {
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.3);
}
.descro a:hover {
  background: #e2bae7;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}
.descro p {
  font-size: 18px;
  font-weight: 300;
  color: rgb(61, 61, 61);
}

.fonctionnement {
  justify-content: space-around;
  padding: 25px;
}

.ol {
  justify-content: space-between;
  padding-left: 10px;
}
.ol a {
  display: flex;
  align-items: center;
  position: relative;
  background-color: rgb(247, 247, 247);
  list-style-position: outside;
  font-size: 16px;
  padding: 25px;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  opacity: 1;
  transition-duration: 1s;
}
.ol a span {
  position: absolute;
  left: -15px;
  background-color: rgb(136, 95, 211);
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 25px;
}
.ol a i {
  font-size: 20px;
  width: 30px;
  margin: 0 10px 0 10px;
  text-align: center;
}
.ol a:last-child {
  background-color: rgb(245, 237, 255);
}
.ol a:last-child i {
  color: rgb(136, 95, 211);
}

a {
  text-decoration: none;
  color: black;
}

.rest-list {
  justify-content: space-around;
  padding: 25px;
  background-color: rgb(245, 245, 245);
}
.rest-list .restos {
  display: flex;
  flex-direction: column;
}
.rest-list a {
  border-radius: 15px;
  background-color: white;
}

.card {
  position: relative;
  background-color: white;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  transition-duration: 0.5s;
  margin: 20px 0;
}
.card img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 45vw;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -o-object-position: center;
     object-position: center;
}

.card-top {
  height: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: white;
}

.card-infos {
  width: auto;
  flex: 2;
}

.new-tag {
  position: absolute;
  right: 5vw;
  top: 5vw;
  padding: 5px 10px;
  z-index: 2;
  width: 5em;
  text-align: center;
  background-color: rgb(153, 226, 208);
  border-radius: 5px;
  color: rgb(7, 135, 102);
}

.card-low {
  padding: 15px 10px;
  justify-content: space-between;
}

.fa-heart {
  position: absolute;
  margin: 0px;
  top: 0px;
  left: 0px;
  font-size: 1.5em;
}

.beforemenu {
  min-height: 120px;
  max-height: 320px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.beforemenu img {
  width: 100%;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.resto {
  width: auto;
  margin: -30px 0 0 0;
  padding: 30px 10px 20px 10px;
  border-radius: 30px;
  background-color: rgb(247, 247, 247);
  transition-duration: 0.5s;
}
.resto .title {
  justify-content: space-between;
}
.resto .title h1 {
  font-size: 1.5em;
  font-family: "Shrikhand";
  font-weight: 300;
}

.menu {
  display: flex;
  flex-direction: column;
}
.menu h2 {
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
  width: 50px;
  padding-bottom: 5px;
  border-bottom: #99E2D0 solid 3px;
}
.menu .menu-card {
  width: 100%;
  justify-content: space-between;
  background-color: white;
  margin: 2vw 0;
  border-radius: 20px;
  opacity: 0;
}
.menu .menu-card p {
  font-weight: 300;
}
.menu .menu-card .menu-card-info {
  justify-content: space-around;
  padding: 0.7em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.menu .menu-card .menu-card-info h3, .menu .menu-card .menu-card-info p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .menu-card .menu-card-price {
  font-size: 1em;
  padding: 15px 20px 15px 5px;
  font-weight: 600;
  justify-content: end;
}
.menu .mc1 {
  -webkit-animation: fadein 1s ease-in 0s 1 normal forwards running;
          animation: fadein 1s ease-in 0s 1 normal forwards running;
}
.menu .mc2 {
  -webkit-animation: fadein 1s ease-in 0.2s 1 normal forwards running;
          animation: fadein 1s ease-in 0.2s 1 normal forwards running;
}
.menu .mc3 {
  -webkit-animation: fadein 1s ease-in 0.4s 1 normal forwards running;
          animation: fadein 1s ease-in 0.4s 1 normal forwards running;
}
.menu .mc4 {
  -webkit-animation: fadein 1s ease-in 0.6s 1 normal forwards running;
          animation: fadein 1s ease-in 0.6s 1 normal forwards running;
}

.command a {
  color: white;
  margin: 30px auto;
  padding: 15px 25px;
  border-radius: 30px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  background: linear-gradient(rgb(202, 129, 212), rgb(148, 102, 212));
}
.command ahover {
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.3);
}
.command a:hover {
  background: #e2bae7;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

/* Tablette */
@media screen and (min-width: 700px) {
  .intro {
    justify-content: center;
  }
  .intro .fonctionnement {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 30px 10px;
    justify-content: center;
  }
  .intro .fonctionnement .ol {
    flex-direction: row;
    justify-content: space-around;
  }
  .intro .fonctionnement .ol a {
    margin: 20px;
  }
  .rest-list .restos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .rest-list .restos .card {
    width: 30%;
  }
  .rest-list .restos .card img {
    height: 20vw;
  }
  .rest-list .restos .card .new-tag {
    top: 1em;
    right: 1em;
  }
}
/* Ordinateur */
@media screen and (min-width: 1024px) {
  .intro {
    flex-direction: row;
  }
  .headersearch {
    display: flex;
  }
  .rest-list .restos .card {
    width: 23%;
    height: 20vw;
    justify-content: end;
    align-items: flex-end;
  }
  .rest-list .restos .card img {
    height: 15vw;
  }
  .resto {
    padding: 30px;
    border-radius: 40px;
  }
  .resto .title {
    margin: auto;
    font-size: 1.5em;
  }
  .menu {
    flex-direction: row;
    justify-content: space-between;
  }
  .menu .menu-tab {
    width: 32%;
  }
}/*# sourceMappingURL=styles.css.map */