body{
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin-block: 0;
    margin-inline: 0;
}

::-webkit-scrollbar{
    display: none;
}
.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.center{
    align-items: center;
}

$font-primary:rgb(61, 61, 61);

$font-second:rgb(126, 126, 126);

h1{
    font-size: 24px;
    font-weight: 600;
}

h3{
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 500;
}
h4{
    font-family: 'shrikhand';
    font-size: 20px;

}
p{ 
    font-size:15px;
    margin-block: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grey{
    color: $font-second;
}

.dark-grey{
    color:$font-primary;
}

@mixin buttons{
    box-shadow: 0 2px 15px rgb(0,0,0,0.2);
    background: linear-gradient(175deg,rgb(202, 129, 212) 20px, rgb(148,102,212));
}


header{
    width:100vw;
    position: fixed;
    justify-content: center;
    align-items: center;
    padding:10px 0 5px 0;
    z-index:5;
    background-color: white;
    overflow: hidden;
    font-size: 20px;
    padding: 1em;
}
.afterheader{
    padding-top: 80px;
}

.shadow{
    box-shadow: 0 2px 15px rgb(0,0,0,0.2);
}

.place{
    width:100vw;
    justify-content: center;
    padding-bottom: 15px;
    background-color:rgb(234,234,234)
    i{
        margin-right: 15px;;
    }
}


header img{
    height:25px;
    margin:auto;
}

.descro{
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: rgb(247,247,247);
}

.descro a{
    color:white;
    margin:20px;
    padding:15px;
    border-radius:30px;
    background: linear-gradient(175deg,rgb(202, 129, 212) 20px, rgb(148,102,212));
}

.descro p{
    font-size: 18px;
    font-weight: 300;
    color: rgb(61, 61, 61);
}

.fontionnement{
    justify-content: space-around;
    padding:25px;
}

.ol{
    justify-content: space-between;
    padding-left: 10px;
    a{
        display: flex;
        align-items: center;
        background-color: rgb(247,247,247);
        list-style-position: outside;
        font-size: 18px;
        padding:20px;
        border-radius: 20px;
        margin:10px 0 10px 0;
        transition-duration: 1s;
        span{
            position: absolute;
            left: 20px;
            background-color: rgb(136,95,211);
            color: white;
            font-size: 14px;
            padding: 5px 9px;
            border-radius: 25px;
        }
        
        
        i{
            font-size: 20px;
            width:30px;
            margin:0 10px 0 10px;
            text-align: center;
        }
        &:last-child{
            background-color: rgb(245,237,255);
            i{
                color: rgb(136,95,211);
            }
        }
        

    }
}


a{
    text-decoration: none;
    color: black;
}

.rest-list{
    justify-content: space-around;
    padding:25px;
    background-color: rgb(245,245,245);
    a{
        border-radius: 15px;
        background-color: white;
    }
}

.card{
    background-color: white;
    overflow: hidden;
    object-fit:cover;
    border-radius: 20px;
    transition-duration: 0.5s;
    img{
        height: 40vw;
        width: 100%;
        object-fit:cover;
        overflow: hidden;
    }
}

.card-top{
    height: 50%;
    overflow: hidden;
    object-fit: cover;
    background-color: white;
}

.new-tag{
    position:relative;
    right:-60vw;
    top:-55vw;
    padding:5px 10px;
    z-index:1;
    width: 5em;
    text-align: center;
    background-color: rgb(153,226,208);
    border-radius: 5px;
    color: rgb(7,135,102);
}

.card-low{
    padding: 15px 10px;
    justify-content: space-between;
}

.heart-filled{
    display: none;

}

.heart-empty{
    display:flex;
    font-size: 1.5em;
    transition-duration: 1s;
    color: black;
    &:hover{
        display:none;
        + .heart-filled{
            display: flex;
            font-size: 1.5em;
            background:linear-gradient(175deg,rgb(202, 129, 212) 20px, rgb(148,102,212));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}




.beforemenu{
    min-height: 120px;
    overflow: hidden;
    object-fit: cover;
    img{
        width: 100%;
        z-index:0;
        object-fit: cover;
        overflow: hidden;
    }
}

.menu{
    margin: -30px 0 0 0;
    padding: 8% 2% 5% 2%;
    border-radius: 30px;
    background-color: rgb(247,247,247);
    transition-duration: 0.5s;
    h1{
        font-size: 1.5em;
        font-family:'Shrikhand', cursive ;
        font-weight: 300;
        margin-right: 1.5em;
    }
    h2{
        font-size: 20px;
        font-weight: 100;
        text-transform: uppercase;
        width:50px;
        padding-bottom: 5px;
        border-bottom: #99E2D0 solid 3px;
    }
}


.menu-card{
    width: 100%;
    justify-content: space-between;
    background-color: white;
    margin: 2vw 0;
    border-radius: 20px;
    text-overflow: ellipsis; 
    opacity: 1;
    transition-duration: 1.5s;
    transition-delay: 1s;
    p{
        font-weight: 300;
    }
}

.menu-card-info{
    justify-content: space-around;
    opacity: inherit;
    transition-duration: 1.5s;
    padding: 0.7em;
    transition: 0.5s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.menu-card-price{
    padding: 3vw 5vw;
    transition-duration: 0.5s;
    font-weight: 500;
    justify-content: end;
}



.menu-card-check{
    display: flex;
    width:0;
    background-color: #99E2D0;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 20px 0;
    transition: 0.5s;
    transform: scaleX(0);
    transform: rotateY('-90');
}

.menu-card:hover .menu-card-check{
    width: 50px;
    transform:rotateY('90');
    transform: scaleX(1);
    transition-duration: 0.5s;
}

.command a{
    color:white;
    margin:30px auto;
    padding:15px 25px;
    border-radius:30px;
    background: linear-gradient(175deg,rgb(202, 129, 212) 20px, rgb(148,102,212));
    transition-duration: 0.5s;
    &:hover{
        padding: 20px 30px;
    }
}

.fa-circle-check{
    color: white;
    font-size: 20px;
    transition-duration: 0.5s;
}

footer{
    padding:15px;
    color:white;
    background-color:rgb(53,53,53)
}

footer i{
    width:25px;
}

