body{
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin-block: 0;
    margin-inline: 0;
}

::-webkit-scrollbar{
    display: none;
}
.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.center{
    align-items: center;
}

$font-primary{
    color:rgb(61, 61, 61);
}

$font-second{
    color:rgb(126, 126, 126);
}

h1{
    font-size: 24px;
    font-weight: 600;
}

h4{
    font-family: 'shrikhand';
    font-size: 20px;

}
p{ 
    font-size:15px;
    margin-block: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grey{
    color: $font-second;
}

.dark-grey{
    color:$font-primary;
}

header{
    width:100vw;
    height: 50px;
    position: fixed;
    justify-content: center;
    align-items: center;
    padding:10px 0 5px 0;
    z-index:5;
    background-color: white;
    overflow: hidden;
    font-size: 20px;
}
.afterheader{
    padding-top: 80px;
}

.shadow{
    box-shadow: 0 2px 15px rgb(0,0,0,0.2);
}

.place{
    width:100vw;
    justify-content: center;
    padding-bottom: 15px;
    background-color:rgb(234,234,234)

}

.place i{
    margin-right: 15px;;
}

header img{
    height:25px;
    margin:auto;
}

.descro{
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: rgb(247,247,247);
}

.descro a{
    color:white;
    margin:20px;
    padding:15px;
    border-radius:30px;
    background: linear-gradient(175deg,rgb(202, 129, 212) 20px, rgb(148,102,212));
}

.descro p{
    font-size: 18px;
    font-weight: 300;
    color: rgb(61, 61, 61);
}

.fontionnement{
    justify-content: space-around;
    padding:25px;
}

.ol{
    justify-content: space-between;
    padding-left: 10px;
    a{
        display: flex;
        align-items: center;
        background-color: rgb(247,247,247);
        list-style-position: outside;
        font-size: 18px;
        padding:20px;
        border-radius: 20px;
        margin:10px 0 10px 0;
        box-shadow: 0 2px 15px rgb(0,0,0,0.2);
        transition-duration: 1s;
        span{
            position: absolute;
            left: 20px;
            background-color: rgb(136,95,211);
            color: white;
            font-size: 14px;
            padding: 5px 9px;
            border-radius: 25px;
        }
    }
}


.ol a i{
    font-size: 20px;
    width:30px;
    margin:0 10px 0 10px;
    text-align: center;
}

.ol a:last-child{
    background-color: rgb(245,237,255);
}

.ol a:last-child i{
    color: rgb(136,95,211);
}


a{
    text-decoration: none;
    color: black;
}

.rest-list{
    justify-content: space-around;
    padding:25px;
    background-color: rgb(245,245,245);
}
.rest-list a{
    border-radius: 25px;
    background-color: white;
    margin:10px 0;
}
.card{

    overflow: hidden;
    object-fit:cover;
    border-radius: 20px;

}
.card img{
    height:auto;
    width: 100%;
    object-fit:cover;
    overflow: hidden;
}


.menu{
    margin: -30px 0 0 0;
    padding: 8% 3% 5% 3%;
    border-radius: 30px;
    background-color: rgb(247,247,247);
    transition-duration: 0.5s;
}

.menu div{
    width: 95%;
    justify-content: space-between;
    height: 60px;
    background-color: white;
    margin: auto;
    border-radius: 20px;
    transition-duration: 0.5s;
    span{
        overflow: hidden;
        text-overflow: ellipsis;
        transition-duration: 0.5s;
    }

    a{
        display: none;
        width:20%;
        background-color: #99E2D0;
        justify-content: center;
        align-items: center;
        border-radius: 0 20px 20px 0;
        transition-duration: 0.5s;
    }
}

.menu article:hover :last-child{
    display: flex;
    transition-duration: 0.5s;
    
}

.fa-circle-check{
    color: white;
    font-size: 20px;
    transition-duration: 0.5s;
}

footer{
    padding:15px;
    color:white;
    background-color:rgb(53,53,53)
}

footer i{
    width:25px;
}

